<div class="d-flex">
  <%= icon "far", "clock", class: "pt-1 pr-1" %>
  <p>2019-08-14</p>
</div>
<%= image_tag "common/image1.jpg", class: "img-fluid mb-4"%>
<p>数あるプログラミングスクールからいくつか厳選してご紹介します。<br>
  個人的な意見なので確定情報ではない場合があります。あらかじめご了承下さい。<br>
  あくまで未経験からスクール出てエンジニアになれた身として、<strong class="marker-yellow">自分の経験を交えた考えなどをまとめたものです。</strong><br>
  なので今後スクール決める上で、参考にして頂けると幸いです。
  <br><br>
  また、最終的に決めるのは自分です。<br>
  <strong class="marker-yellow__text-red">一通り無料カウンセリングや説明会を受けて自分に見合ったスクールを選ぶことをお勧めします！</strong><br>
  参加費は基本的に無料なので行って損はないです！(*ﾟ▽ﾟ*)
</p>

<h4 class="balloon"><b>おすすめプログラミングスクール紹介</b></h4>
<p>
  スクール紹介にいきたいと思います。<br>
  冒頭でも言いましたが、
  <strong class="marker-yellow">気になるところは全てカウンセリングや説明会に行くことをお勧めします。</strong>
  <strong class="marker-yellow__text-red">これをしないとお金や時間を無駄にします。</strong>
</p>

<!-- TECH::EXPERT -->
<%= render "schools/school_1" %>
<!-- デジタルハリウッド STUDIO by LIG -->
<%= render "schools/school_2" %>
<!-- Tech Boost -->
<%= render "schools/school_3" %>
<!-- DMM WEBCAMP -->
<%= render "schools/school_4" %>
<!-- ポテパンキャンプ -->
<%= render "schools/school_5" %>
<!-- ProgrammerCollege -->
<%= render "schools/school_6" %>
<!-- codecamp -->
<%= render "schools/school_7" %>

<h4 class="balloon"><b>まとめ</b></h4>
<p>
  以上、プログラミングスクールの紹介でした。<br>
  最後まとめついでにスクールを決める上でのアドバイスをしたいと思います。
  ただこれな個人的な意見なので、絶対に鵜呑みにはせず、<strong class="marker-yellow">最終的にはカウンセリングや体験などに行って自分の目で確かめてから決めてくだい</strong>。
</p>
<p>
  では本題ですが、個人的には<strong class="marker-yellow__text-red">教室を使った自習スタイルのスクールをお勧めします</strong>。
  理由は<strong class="marker-yellow">自走力が付く</strong>からです。さらに周りに同期などがいるので<strong class="marker-yellow">モチベーションも維持したまま</strong>学習に取り組む事ができます。
</p>
<p>
  確かにオンラインでも自走力が付くのですが、基本的には個人プレイになるので、途中でダレたり不安になったりして挫折・・・なんて可能性が高いです。
  そんな事になるならいっそう通ってしまった方が良いかなって思います。
</p>
<p>
  なので何度も言いますが、<strong class="marker-yellow__text-red">カウンセリングや体験などに積極的に参加して自分の目で確かめて「これなら出来そう！」と思ったら通ってみましょう</strong>。
</p>
<p>
  長くなりましたが以上となります。誰かの力になれたらと幸いです。
</p>

